@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-color-main {
    @apply bg-stone-200 dark:bg-zinc-900;
  }
  .text-color-main {
    @apply text-zinc-900 dark:text-stone-200;
  }
}

@layer base {
  /* Komika Hand */
  @font-face {
    font-family: Komika Hand;
    font-weight: normal;
    font-style: normal;
    src: url(./assets/fonts/KOMIKAH_.ttf);
  }
  @font-face {
    font-family: Komika Hand;
    font-weight: normal;
    font-style: italic;
    src: url(./assets/fonts/KOMIKHI_.ttf);
  }
  @font-face {
    font-family: Komika Hand;
    font-weight: bold;
    font-style: normal;
    src: url(./assets/fonts/KOMIKAHB.ttf);
  }
  @font-face {
    font-family: Komika Hand;
    font-weight: bold;
    font-style: italic;
    src: url(./assets/fonts/KOMIKHBI.ttf);
  }
  /* Lora */
  @font-face {
    font-family: Lora;
    font-weight: 100 900;
    font-style: normal;
    src: url(./assets/fonts/Lora-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Lora;
    font-weight: 100 900;
    font-style: italic;
    src: url(./assets/fonts/Lora-Italic-VariableFont_wght.ttf);
  }
}
